<footer class="admin-footer">
    <div class="footer-content">
        <span class="footer-copy">
            © {{ "now"|date("Y") }} Groupe Gefor. Tous droits réservés.
        </span>
        <span class="footer-links">
            <a href="{{ path('legal_mentions_legales') }}" target="_blank">Mentions légales</a> ·
            <a href="{{ path('app_politique_confidentialite') }}" target="_blank">Politique de confidentialité</a> ·
            <a href="{{ path('legal_conditions_utilisation') }}" target="_blank">Conditions d’utilisation</a>
        </span>
    </div>
</footer>